# Jupyter and IDE
.ipynb_checkpoints/
.idea/
*~

# Python cache and compiled files
*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc

# Output and build files
build/
dist/
*.so*
*/**/*.so*
*/**/*.dylib*
*.png
debug*

# Custom data folders
dataset/
datasets/
checkpoints/
results/
cartoonization_project/

# Wandb
wandb/

# Ignore PyTorch CycleGAN specific files (adjusted paths)
pytorch-CycleGAN-and-pix2pix/.DS_Store
pytorch-CycleGAN-and-pix2pix/debug*
pytorch-CycleGAN-and-pix2pix/datasets/
pytorch-CycleGAN-and-pix2pix/checkpoints/
pytorch-CycleGAN-and-pix2pix/results/
pytorch-CycleGAN-and-pix2pix/torch.egg-info/
pytorch-CycleGAN-and-pix2pix/**/__pycache__/
pytorch-CycleGAN-and-pix2pix/torch/version.py
pytorch-CycleGAN-and-pix2pix/torch/csrc/generic/TensorMethods.cpp
pytorch-CycleGAN-and-pix2pix/torch/lib/*.so*
pytorch-CycleGAN-and-pix2pix/torch/lib/*.dylib*
pytorch-CycleGAN-and-pix2pix/torch/lib/*.h
pytorch-CycleGAN-and-pix2pix/torch/lib/build
pytorch-CycleGAN-and-pix2pix/torch/lib/tmp_install
pytorch-CycleGAN-and-pix2pix/torch/lib/include
pytorch-CycleGAN-and-pix2pix/torch/lib/torch_shm_manager
pytorch-CycleGAN-and-pix2pix/torch/csrc/cudnn/cuDNN.cpp
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THNN.cwrap
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THNN.cpp
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THCUNN.cwrap
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THCUNN.cpp
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THNN_generic.cwrap
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THNN_generic.cpp
pytorch-CycleGAN-and-pix2pix/torch/csrc/nn/THNN_generic.h
pytorch-CycleGAN-and-pix2pix/docs/src/**/*
pytorch-CycleGAN-and-pix2pix/test/data/legacy_modules.t7
pytorch-CycleGAN-and-pix2pix/test/data/gpu_tensors.pt
pytorch-CycleGAN-and-pix2pix/test/htmlcov
pytorch-CycleGAN-and-pix2pix/test/.coverage
pytorch-CycleGAN-and-pix2pix/test/data/legacy_serialized.pt
pytorch-CycleGAN-and-pix2pix/netD_A.pth
pytorch-CycleGAN-and-pix2pix/netD_B.pth
pytorch-CycleGAN-and-pix2pix/netG_A.pth
pytorch-CycleGAN-and-pix2pix/netG_B.pth